In [36]:
# Importing libraries for data analysis
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sea

# to ignore stupid warnings
import warnings
warnings.filterwarnings("ignore")

# importing library for webs Scraping
import selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.support.wait import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [44]:
# Creating an array of all the students roll numbers including lateral enteries
lords_normal_students = np.arange(160920733001, 160920733180)
lords_lateral_entry = np.arange(160920733301, 160920733320)
mj_normal_students = np.arange(160420733001, 160420733122)
mj_lateral_entry = np.arange(160420733301, 160420733313)
deccan_normal_students = np.arange(160320733001, 160320733091)
deccan_lateral_entry = np.arange(160320733301, 160320733310)

# Combining both the arrays into one
total_students = np.concatenate((lords_normal_students, lords_lateral_entry, mj_normal_students, mj_lateral_entry, deccan_normal_students, deccan_lateral_entry), axis=0)

# Removing roll numbers of students that discontionued and whose roll nunbers cannot be found on the webite
total_students = total_students[~((total_students == 160920733156) | (total_students == 160320733078) | (total_students == 160920733176))]

In [45]:
# Creating a dictionary that maps the subject code to subject
subject_dic = {
    "502N" : "Computer Networks Lab",
    "502O" : "Artificial Intelligence Lab",
    "574" : "Software Engineering Lab",
    "585": "Artificial Intelligence",
    "503I": "Object Oriented Analysis Design",
    "518" : "Automata Language Computation",
    "535" : "Software Engineering",
    "538" : "Computer Networks",
    "503F" : "Principals of Programming Language",
    "596"  : "BLOCK CHAIN TECHNOLOGIES",
    "503J" : "DATA SCIENCE"
}

In [46]:
# Creating an empty dataframe whose columns are the subject names of the semester  

results_df = pd.DataFrame(index=total_students)
results_df.index.name = "Roll Number"
results_df

Empty DataFrame
Columns: []
Index: [160920733001, 160920733002, 160920733003, 160920733004, 160920733005, 160920733006, 160920733007, 160920733008, 160920733009, 160920733010, 160920733011, 160920733012, 160920733013, 160920733014, 160920733015, 160920733016, 160920733017, 160920733018, 160920733019, 160920733020, 160920733021, 160920733022, 160920733023, 160920733024, 160920733025, 160920733026, 160920733027, 160920733028, 160920733029, 160920733030, 160920733031, 160920733032, 160920733033, 160920733034, 160920733035, 160920733036, 160920733037, 160920733038, 160920733039, 160920733040, 160920733041, 160920733042, 160920733043, 160920733044, 160920733045, 160920733046, 160920733047, 160920733048, 160920733049, 160920733050, 160920733051, 160920733052, 160920733053, 160920733054, 160920733055, 160920733056, 160920733057, 160920733058, 160920733059, 160920733060, 160920733061, 160920733062, 160920733063, 160920733064, 160920733065, 160920733066, 160920733067, 160920733068, 160920733069, 160920733070, 160920733071, 160920733072, 160920733073, 160920733074, 160920733075, 160920733076, 160920733077, 160920733078, 160920733079, 160920733080, 160920733081, 160920733082, 160920733083, 160920733084, 160920733085, 160920733086, 160920733087, 160920733088, 160920733089, 160920733090, 160920733091, 160920733092, 160920733093, 160920733094, 160920733095, 160920733096, 160920733097, 160920733098, 160920733099, 160920733100, ...]

[427 rows x 0 columns]

In [47]:
# setting up selenium to webscrape the result from the osmania website
driver = webdriver.Chrome()
wait = WebDriverWait(driver, 10)

driver.get("https://www.osmania.ac.in/res07/20230580.jsp")
search_bar = wait.until(EC.element_to_be_clickable((By.NAME, "htno")))

for roll_number in results_df.index:
    
    search_bar.send_keys(roll_number)
    search_bar.send_keys(Keys.ENTER)
    
    search_bar = wait.until(EC.element_to_be_clickable((By.NAME, "htno")))

    rows = driver.find_elements(By.XPATH, '//*[@id="AutoNumber4"]/tbody/tr')[2:]
    name = driver.find_element(By.XPATH, '//*[@id="AutoNumber3"]/tbody/tr[3]/td[2]/b/font').text  
    gpa_list = driver.find_elements(By.XPATH, '//*[@id="AutoNumber5"]/tbody/tr')
    
    current_sem_gpa = gpa_list[-1].find_element(By.XPATH, 'td[2]/b/font').text
    
    results_df.loc[roll_number, ["Name"]] = name
    credits = 0
    backs = 0
    pending = 0
    
    for row in rows:
        sub_code = row.find_element(By.XPATH, 'td[1]/b/font').text.strip()
        grade = row.find_element(By.XPATH, 'td[5]/b/font').text.strip()
        credit = float(row.find_element(By.XPATH, 'td[3]/b/font').text.strip())
        
        if sub_code in subject_dic.keys():
            subject = subject_dic[sub_code]
            results_df.loc[roll_number, [subject]] = grade
            
            if grade == "F" or grade == 'Ab':
                backs +=1
            else:
                credits += credit
                
        else:
            if grade == 'F' or grade == 'Ab':
                backs += 1
                pending += credit
                
    results_df.loc[roll_number, ["Current Sem Credits"]] = credits
    results_df.loc[roll_number, ["Backlogs"]] = backs
    results_df.loc[roll_number, ["Previous Pending"]] = pending
    results_df.loc[roll_number, ["Overall GPA"]] = current_sem_gpa
    
driver.quit()
results_df.head(10)

,Name,Computer Networks Lab,Artificial Intelligence Lab,Principals of Programming Language,Artificial Intelligence,Automata Language Computation,Software Engineering,Computer Networks,Software Engineering Lab,Object Oriented Analysis Design,Current Sem Credits,Backlogs,Previous Pending,Overall GPA,DATA SCIENCE,BLOCK CHAIN TECHNOLOGIES
Roll Number,,,,,,,,,,,,,,,,
160920733001,MOHAMMED MUZAMMIL ALI,S,A,C,D,C,C,B,A,D,21.0,1.0,3.0,PASSED-7.19,NaN,NaN
160920733002,MOHD MOIZ UDDIN,S,S,C,A,C,C,A,A,C,21.0,0.0,0.0,PASSED-7.95,NaN,NaN
160920733003,ATEEQ BIN MUBARAK WAHLAN,A,S,B,B,C,B,A,A,B,21.0,0.0,0.0,PASSED-8.19,NaN,NaN
160920733004,WASIF ALI KHAN,S,S,B,B,B,A,A,S,B,21.0,0.0,0.0,PASSED-8.57,NaN,NaN
160920733005,SYED HUMAYUN RASHEED,S,S,B,S,D,C,A,S,C,21.0,0.0,0.0,PASSED-8.14,NaN,NaN
160920733006,MOHD SUFYAAN KHAN,A,S,C,B,D,A,S,A,C,21.0,0.0,0.0,PASSED-8.05,NaN,NaN
160920733007,MAAZ MOHAMMED HAQQANI,S,A,D,D,D,D,B,B,D,21.0,0.0,0.0,PASSED-6.71,NaN,NaN
160920733008,MIR YOUSUF ALI BUQARI,A,A,D,A,C,B,C,B,D,21.0,0.0,0.0,PASSED-7.38,NaN,NaN
160920733009,HANZALA JAVED ALI SHAIK,S,S,B,B,C,A,B,S,B,21.0,0.0,0.0,PASSED-8.29,NaN,NaN
160920733010,MOHAMMED NABEEL SIDDIQUI,S,S,B,B,C,A,A,S,B,21.0,0.0,0.0,PASSED-8.43,NaN,NaN

In [50]:
#Creating a column called Total Credits that contains all the credits that a student has upto current Sem
results_df["Total Credits"] = 83 - results_df["Previous Pending"] + results_df["Current Sem Credits"]

In [53]:
# saving the results df in a csv file locally
results_df.to_csv('results.csv')